.navbar {
  &-brand {
    img {
      width: 115px;
    }
  }
  &-collapse {
    width: auto;
    @include media-breakpoint-up(md) {
      &.collapse {
        display: block;
      }
    }
  }
  &-toggler {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

}