<footer class="c-motion">
  <div class="footer c-motion__landscape margin-bottom-rodape">
    <div class="container text-right-mobile">
      <div class="c-whatsapp talk-to-adam">
        <a
          href="https://wa.me/5541998635693?text=Ol%C3%A1%20Ad%C3%A3o%2C%20bora%20conversa%20sobre%20algumas%20oportunidades%3F"
          target="_blank"
          class="c-whatsapp__btn"
          title="Converse com o Adam"
          rel="noopener noreferrer"
        >
          <span class="sr-only">Converse com o Adam</span>
          <span class="fa fa-whatsapp fa-3x" role="icon"></span>
        </a>
      </div>
      <div class="row class-margin-bottom-rodape">
        <div class="col-sm-1 d-sm-none"></div>
        <div class="col-sm-12 col-md-3 mb-4">
          <a
            href="#"
            class="footer-brand text-right-mobile"
            title="Logo Clube Gazeta do Povo"
            ><img
              src="~assets/images/logo.png"
              alt="Logo Clube Gazeta do Povo"
              class="logo-footer"
          /></a>
        </div>
        <!-- /.col -->

        <address class="col-sm-12 col-md-3">
          <ul class="list-unstyled footer-nav">
            <li>
              <a href="https://clube.gazetadopovo.com.br/noticias/"
                >Últimas matérias</a
              >
            </li>
            <li>
              <a
                href="https://clube.gazetadopovo.com.br/entre-para-o-clube/#entre"
                target="_blank"
                >Faça parte do Clube</a
              >
            </li>
            <li>
              <p>
                E-mail:
                <a href="mailto://caa@gazetadopovo.com.br" target="_blank"
                  >caa@gazetadopovo.com.br</a
                >
              </p>
              <p>
                Telefone
                <a href="tel:+55413321-5555" target="_blank">(41) 3321-5555</a>
              </p>
              <p>
                WhatsApp
                <a
                  href="https://wa.me/5541999258079?text=Ol%C3%A1%2C%20tudo%20bem%3F%0AGostaria%20de%20saber%20mais%20sobre%20o%20Clube.%0A"
                  target="_blank"
                  >(41) 99925-8079</a
                >
              </p>
            </li>
          </ul>
        </address>
        <!-- /.col -->

        <div class="col-sm-12 col-md-2 mb-4">
          <div class="row">
            <div class="col-lg-12">
              <h6 class="text-uppercase">Siga-nos</h6>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <a
                href="https://www.facebook.com/GuiaGazetadoPovoeClube/"
                target="_blank"
                class="icon-link"
                ><span class="fa-stack" role="icon">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </span
              ></a>
              <a
                href="https://instagram.com/clubegazetadopovo?igshid=xexbxxtc6c9c"
                target="_blank"
                class="icon-link"
              >
                <span class="fa-stack" role="icon">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>
          </div>
        </div>
        <!-- /.col -->

        <div class="col-sm-12 col-md-2">
          <div class="row">
            <div class="col-lg-12 space-itens-download-apps">
              <h6 class="text-uppercase">Baixe nosso app</h6>
            </div>
          </div>
          <div class="row d-xs-flex d-sm-flex justify-content-center">
            <div class="col-lg-12 col-xs-6 ">
              <a
                href="https://play.google.com/store/apps/details?id=br.com.gazetadopovo.clubeapp&amp;hl=pt"
                target="_blank"
                class="download-apps__item"
              >
                <img
                  src="../assets/images/gplay.png"
                  alt="Download aplicativo Android"
                  class="img-responsive"
                />
              </a>
            </div>

            <div class="col-lg-12  col-xs-6">
              <a
                href="https://apps.apple.com/br/app/clube-gazeta/id1278740906?l=pt"
                target="_blank"
                class="download-apps__item"
              >
                <img
                  src="~assets/images/appstore.png"
                  alt="Download aplicativo iOS"
                  class="img-responsive"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-1 d-sm-none"></div>
      </div>
      <!-- /.row -->

      <div class="row justify-content-end heart-top py-4">
        <img
          src="~assets/images/coracao.png"
          alt="Coração pulsante"
          class="c-motion__heart"
        />
      </div>
    </div>
    <!-- /.container -->
  </div>
  <img
    class="c-motion__train"
    src="~assets/images/tremanin.png"
    alt="Locomotiva"
  />
</footer>
