<header>
  <!-- <h1>Mars Hover</h1> -->
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://gazetadopovo.com.br">
          <img
            src="../assets/logo.png"
            alt="Clube Gazeta do Povo"
            class="img-responsive"
          />
        </a>
        <button
          type="button "
          class="navbar-toggler collapsed"
          data-toggle="collapse"
          data-target="#navbar-collapsed-items"
          aria-controls="navbar-collapsed-items"
          aria-label="Toggle navigation"
          aria-expanded="false"
        >
          <i class="fa fa-fw fa-bars"></i>
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
      </div>

      <div
        class="navbar-collapse collapse"
        id="navbar-collapsed-items"
      >
        <div class="clearfix ">
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar--login hidden-authenticated">
              <a
                href="https://conta.gazetadopovo.com.br/login?referrer=https://clube.gazetadopovo.com.br"
                >Entrar</a
              >
            </li>
            <li class="navbar--button hidden-has-clube">
              <a
                href="https://gazetadopovo.com.brentre-para-o-clube/#entre"
                target="_blank"
                >Assine</a
              >
            </li>
          </ul>
          <form
            class="navbar-form navbar-right form-inline"
            method="GET"
            action="/busca"
            id="form"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder=""
                name="busca"
                value=""
              />
              <button
                onclick="form.submit();"
                class="btn input-group-addon"
                id="navbar-form-button"
              >
                <i class="fa fa-fw fa-search"></i>
            </button>
            </div>
          </form>
        </div>
        <!-- /.clearfix -->

        <div class="line-nav"></div>

        <ul class="navbar-custom-nav">
          <li><a href="https://gazetadopovo.com.brfilmes/">Cinema</a></li>
          <li>
            <a href="https://gazetadopovo.com.brgastronomia/">Gastronomia</a>
          </li>
          <li><a href="https://gazetadopovo.com.brnoticias/">Notícias</a></li>
          <li><a href="https://gazetadopovo.com.breventos/">Shows</a></li>
          <li><a href="https://gazetadopovo.com.brparceiros/">Parceiros</a></li>
          <li>
            <a
              href="https://www.facebook.com/GuiaGazetadoPovoeClube/"
              target="_blank"
            >
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </span
            ></a>
          </li>
          <li>
            <a
              href="https://instagram.com/clubegazetadopovo?igshid=xexbxxtc6c9c"
              target="_blank"
            >
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i> </span
            ></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

</header>
